<!DOCTYPE html>
<html>

<head>
    <title>Catalogo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/tw-elements.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>

<body>
    <div>
        <nav id="sidenav-3"
            class="fixed left-0 top-0 z-[1035] h-screen w-60 -translate-x-full overflow-hidden shadow-[0_4px_12px_0_rgba(0,0,0,0.07),_0_2px_4px_rgba(0,0,0,0.05)] data-[te-sidenav-hidden='false']:translate-x-0"
            style="background-color: rgb(219, 0, 0);"
            data-te-sidenav-init data-te-sidenav-hidden="false" data-te-sidenav-color="white">
            <ul class="relative m-0 list-none px-[0.2rem]" data-te-sidenav-menu-ref>
                <img src="/images/logo1.png" class="w-34 rounded-full" alt="Avatar" />
                <li class="relative">
                    <a class="flex h-12 cursor-pointer items-center truncate rounded-[5px] px-6 py-4 text-[0.875rem] text-white outline-none transition duration-300 ease-linear hover:bg-white/10 hover:outline-none focus:bg-white/10 focus:outline-none active:bg-white/10 active:outline-none data-[te-sidenav-state-focus]:outline-none motion-reduce:transition-none"
                        data-te-sidenav-link-ref>
                        <span class="mr-4 [&>svg]:h-4 [&>svg]:w-4 [&>svg]:text-black dark:[&>svg]:text-black">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="h-4 w-4">
                            </svg>
                        </span>

                        <span>Muebles De Sala</span>
                    </a>
                </li>
                <li class="relative">
                    <a class="flex h-12 cursor-pointer items-center truncate rounded-[5px] px-6 py-4 text-[0.875rem] text-white outline-none transition duration-300 ease-linear hover:bg-black/10 hover:outline-none focus:bg-black/10 focus:outline-none active:bg-white/10 active:outline-none data-[te-sidenav-state-focus]:outline-none motion-reduce:transition-none"
                        data-te-sidenav-link-ref>
                        <span class="mr-4 [&>svg]:h-4 [&>svg]:w-4 [&>svg]:text-black dark:[&>svg]:text-black">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                class="h-4 w-4">
                                <path fill-rule="evenodd"
                                    d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z"
                                    clip-rule="evenodd" />
                        </span>
                        <span>Muebles por Unitario</span>
                        <span
                            class="absolute right-0 ml-auto mr-[0.8rem] transition-transform duration-300 ease-linear motion-reduce:transition-none [&>svg]:text-black dark:[&>svg]:text-black"
                            data-te-sidenav-rotate-icon-ref>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                class="h-5 w-5">
                                <path fill-rule="evenodd"
                                    d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                                    clip-rule="evenodd" />
                            </svg>
                        </span>
                    </a>
                    <ul class="!visible relative m-0 hidden list-none p-0 data-[te-collapse-show]:block "
                        data-te-sidenav-collapse-ref>
                        <li class="relative">
                            <a class="flex h-6 cursor-pointer items-center truncate rounded-[5px] py-4 pl-[3.4rem] pr-6 text-[0.78rem] text-black outline-none transition duration-300 ease-linear hover:bg-white/10 hover:outline-none focus:bg-white/10 focus:outline-none active:bg-white/10 active:outline-none data-[te-sidenav-state-focus]:outline-none motion-reduce:transition-none"
                                data-te-sidenav-link-ref>Modelos</a>
                        </li>
                        <li class="relative">
                            <a class="flex h-6 cursor-pointer items-center truncate rounded-[5px] py-4 pl-[3.4rem] pr-6 text-[0.78rem] text-black outline-none transition duration-300 ease-linear hover:bg-white/10 hover:outline-none focus:bg-white/10 focus:outline-none active:bg-white/10 active:outline-none data-[te-sidenav-state-focus]:outline-none motion-reduce:transition-none"
                                data-te-sidenav-link-ref>Oferta</a>
                        </li>
                    </ul>
                </li>
                <li class="relative">
                    <a class="flex h-12 cursor-pointer items-center truncate rounded-[5px] px-6 py-4 text-[0.875rem] text-black outline-none transition duration-300 ease-linear hover:bg-white/10 hover:outline-none focus:bg-white/10 focus:outline-none active:bg-white/10 active:outline-none data-[te-sidenav-state-focus]:outline-none motion-reduce:transition-none"
                        data-te-sidenav-link-ref>
                        <span class="mr-4 [&>svg]:h-4 [&>svg]:w-4 [&>svg]:text-black dark:[&>svg]:text-black">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                class="h-4 w-4">
                                <path fill-rule="evenodd"
                                    d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z"
                                    clip-rule="evenodd" />
                            </svg>
                        </span>
                        <span>Juego De Muebles</span>
                        <span
                            class="absolute right-0 ml-auto mr-[0.8rem] transition-transform duration-300 ease-linear motion-reduce:transition-none [&>svg]:text-black dark:[&>svg]:text-black"
                            data-te-sidenav-rotate-icon-ref>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                class="h-5 w-5">
                                <path fill-rule="evenodd"
                                    d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                                    clip-rule="evenodd" />
                            </svg>
                        </span>
                    </a>
                    <ul class="show !visible relative m-0 hidden list-none p-0 data-[te-collapse-show]:block "
                        data-te-sidenav-collapse-ref>
                        <li class="relative">
                            <a class="flex h-6 cursor-pointer items-center truncate rounded-[5px] py-4 pl-[3.4rem] pr-6 text-[0.78rem] text-black outline-none transition duration-300 ease-linear hover:bg-white/10 hover:outline-none focus:bg-white/10 focus:outline-none active:bg-white/10 active:outline-none data-[te-sidenav-state-focus]:outline-none motion-reduce:transition-none"
                                data-te-sidenav-link-ref>Juego De Muebles En Oferta</a>
                        </li>
                        <li class="relative">
                            <a class="flex h-6 cursor-pointer items-center truncate rounded-[5px] py-4 pl-[3.4rem] pr-6 text-[0.78rem] text-black outline-none transition duration-300 ease-linear hover:bg-white/10 hover:outline-none focus:bg-white/10 focus:outline-none active:bg-white/10 active:outline-none data-[te-sidenav-state-focus]:outline-none motion-reduce:transition-none"
                                data-te-sidenav-link-ref>conjuto de Muebles</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- fIn Ventan Pestaña izquierda-->

        <!-- Ventana Principal -->
        <div>
            <p class="text-center text-3xl font-bold mx-6 my-6">Muebles De Oferta</p>
        </div>

        <div class=" grid grid-cols-3">
            <% for(var i=0; i< data.length; i++) { %>
            <div class="mx-6 my-3">
                <a href="#" class="group relative block overflow-hidden">
                    <button
                        class="absolute end-4 top-4 z-10 rounded-full bg-white p-1.5 text-gray-900 transition hover:text-gray-900/75">
                        <span class="sr-only">Wishlist</span>

                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="h-4 w-4">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
                        </svg>
                    </button>

                    <div data-te-lightbox-init class="flex flex-col space-y-5 lg:flex-row lg:space-x-5 lg:space-y-0">
                        <div class="h-full w-full">
                            <img src="<%= data[i].foto%>"
                                data-te-img="<%= data[i].foto%>"
                                data-te-caption="Image caption 1" alt="Table Full of Spices"
                                class="w-full cursor-zoom-in data-[te-lightbox-disabled]:cursor-auto" />
                        </div>
                    </div>

                    <div class="relative border border-gray-100 bg-white p-6">
                        <span class="whitespace-nowrap bg-orange-300 px-3 py-1.5 text-xs font-medium rounded-lg">
                            <%= data[i].nombre%>
                        </span>

                        <h3 class="mt-4 text-lg font-medium text-gray-900"><%= data[i].nombre_producto%></h3>
                        
                        <p class="mt-1.5 text-sm text-gray-700">$ <%= data[i].precio%></p>

                        <form class="mt-4">
                            <a    
                                class="block w-full rounded bg-orange-300 p-4 text-sm font-medium transition hover:scale-105">
                                Seleccionar producto
                        </a>
                        </form>
                    </div>
                </a>

            </div>
            <% } %>
        </div>

        <div>
            <p class="text-center text-3xl font-bold mx-6 my-6">Modelos</p>
        </div>
    </div>
    <div>
        <section>
            <div class="max-w-screen-xl px-4 py-8 mx-auto sm:py-12 sm:px-6 lg:px-8">
                <div class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:items-stretch">
                    <div class="grid p-6 bg-gray-100 rounded place-content-center sm:p-8">
                        <div class="max-w-md mx-auto text-center lg:text-left">
                            <header>
                                <h2 class="text-xl font-bold text-gray-900 sm:text-3xl">Watches</h2>

                                <p class="mt-4 text-gray-500">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas
                                    rerum quam amet provident nulla error!
                                </p>
                            </header>
                            <div class="relative my-3 mx-6 justify-center" data-te-dropdown-ref>
                                <button
                                    class="flex items-center whitespace-nowrap rounded bg-orange-300 px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal text-orange-500 shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-orange-50 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-orange-200 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] motion-reduce:transition-none dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
                                    type="button" id="dropdownMenuButton1" data-te-dropdown-toggle-ref
                                    aria-expanded="false" data-te-ripple-init data-te-ripple-color="light">
                                    Seleccionar Producto
                                    <span class="ml-2 w-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                            class="h-5 w-5">
                                            <path fill-rule="evenodd"
                                                d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                                                clip-rule="evenodd" />
                                        </svg>
                                    </span>
                                </button>
                                <ul class="absolute z-[1000] float-left m-0 hidden min-w-max list-none overflow-hidden rounded-lg border-none bg-white bg-clip-padding text-left text-base shadow-lg dark:bg-neutral-700 [&[data-te-dropdown-show]]:block"
                                    aria-labelledby="dropdownMenuButton1" data-te-dropdown-menu-ref>
                                    <li>
                                        <a class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-neutral-600"
                                            href="#" data-te-dropdown-item-ref>Producto 1</a>
                                    </li>
                                    <li>
                                        <a class="block w-full whitespace-nowrap bg-transparent px-4 py-2 text-sm font-normal text-neutral-700 hover:bg-neutral-100 active:text-neutral-800 active:no-underline disabled:pointer-events-none disabled:bg-transparent disabled:text-neutral-400 dark:text-neutral-200 dark:hover:bg-neutral-600"
                                            href="#" data-te-dropdown-item-ref>Producto 2</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="lg:col-span-2 lg:py-8">
                        <ul class="grid grid-cols-2 gap-4">
                            <li class="border-2 border-gray-500 rounded-lg mx-3 my-2>
              <a href=" #" class="block group">
                                <div data-te-lightbox-init
                                    class="flex flex-col space-y-5 lg:flex-row lg:space-x-5 lg:space-y-0">
                                    <div class="h-full w-full">
                                        <img src="https://images.hola.com/imagenes/decoracion/20220210204036/muebles-a-medida-o-estandar-comparacion-precios-am/1-47-439/mueble-a-medida-6m-m.jpg?tx=w_680"
                                            data-te-img="https://images.hola.com/imagenes/decoracion/20220210204036/muebles-a-medida-o-estandar-comparacion-precios-am/1-47-439/mueble-a-medida-6m-m.jpg?tx=w_680"
                                            data-te-caption="Producto 01" alt="Table Full of Spices"
                                            class="w-full cursor-zoom-in data-[te-lightbox-disabled]:cursor-auto" />
                                    </div>
                                </div>

                                <div class="mt-3">
                                    <h3
                                        class="font-semibold text-gray-800 group-hover:underline group-hover:underline-offset-4 mx-2">
                                        Mueble de Sala
                                    </h3>
                                    <p class="font-semibold mx-2">Precio:</p>
                                    <p class="text-center text-gray-800 text-4xl font-semibold"> 356$</p>
                                    <p class="font-semibold text-gray-800 mx-2 my-2">Paga en 12 coutas a Solo 58$ Al Mes
                                    </p>
                                </div>
                                </a>
                            </li>

                            <li class="border-2 border-gray-500 rounded-lg mx-3 my-2">
                                <div data-te-lightbox-init
                                    class="flex flex-col space-y-5 lg:flex-row lg:space-x-5 lg:space-y-0">
                                    <div class="h-full w-full">
                                        <img src="https://images.hola.com/imagenes/decoracion/20220210204036/muebles-a-medida-o-estandar-comparacion-precios-am/1-47-439/mueble-a-medida-6m-m.jpg?tx=w_680"
                                            data-te-img="https://images.hola.com/imagenes/decoracion/20220210204036/muebles-a-medida-o-estandar-comparacion-precios-am/1-47-439/mueble-a-medida-6m-m.jpg?tx=w_680"
                                            data-te-caption="Producto 02" alt="Table Full of Spices"
                                            class="w-full cursor-zoom-in data-[te-lightbox-disabled]:cursor-auto" />
                                    </div>
                                </div>

                                <div class="mt-3">
                                    <h3
                                        class="font-medium text-gray-900 group-hover:underline group-hover:underline-offset-4">
                                        Estante De Sala
                                    </h3>
                                    <p class="font-semibold">Precio:</p>
                                    <p class="text-center text-gray-800 text-4xl font-semibold"> 356$</p>
                                    <p class="font-semibold text-gray-800 mx-2 my-2">Paga en 12 coutas a Solo 58$ Al Mes
                                    </p>
                                </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div>
        <section>
            <div class="max-w-screen-xl px-4 py-8 mx-auto sm:py-12 sm:px-6 lg:px-8">
                <div class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:items-stretch">
                    <div class="grid p-6 bg-gray-100 rounded place-content-center sm:p-8">
                        <div class="max-w-md mx-auto text-center lg:text-left">
                            <header>
                                <h2 class="text-xl font-bold text-gray-900 sm:text-3xl">Watches</h2>

                                <p class="mt-4 text-gray-500">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas
                                    rerum quam amet provident nulla error!
                                </p>
                            </header>

                            <a href="#"
                                class="inline-block px-12 py-3 mt-8 text-sm font-medium text-white transition bg-gray-900 border border-gray-900 rounded hover:shadow focus:outline-none focus:ring">
                                Shop All
                            </a>
                        </div>
                    </div>

                    <div class="lg:col-span-2 lg:py-8">
                        <ul class="grid grid-cols-2 gap-4">
                            <li class="border-2 border-gray-500 rounded-lg mx-3 my-2>
              <a href=" #" class="block group">
                                <div data-te-lightbox-init
                                    class="flex flex-col space-y-5 lg:flex-row lg:space-x-5 lg:space-y-0">
                                    <div class="h-full w-full">
                                        <img src="https://images.hola.com/imagenes/decoracion/20220210204036/muebles-a-medida-o-estandar-comparacion-precios-am/1-47-439/mueble-a-medida-6m-m.jpg?tx=w_680"
                                            data-te-img="https://images.hola.com/imagenes/decoracion/20220210204036/muebles-a-medida-o-estandar-comparacion-precios-am/1-47-439/mueble-a-medida-6m-m.jpg?tx=w_680"
                                            data-te-caption="Image caption 1" alt="Table Full of Spices"
                                            class="w-full cursor-zoom-in data-[te-lightbox-disabled]:cursor-auto" />
                                    </div>
                                </div>

                                <div class="mt-3">
                                    <h3
                                        class="font-medium text-gray-900 group-hover:underline group-hover:underline-offset-4">
                                        Simple Watch
                                    </h3>

                                    <p class="mt-1 text-sm text-gray-700">$150</p>
                                </div>
                                </a>
                            </li>

                            <li>
                                <a href="#" class="block group">
                                    <div data-te-lightbox-init
                                        class="flex flex-col space-y-5 lg:flex-row lg:space-x-5 lg:space-y-0">
                                        <div class="h-full w-full">
                                            <img src="https://images.hola.com/imagenes/decoracion/20220210204036/muebles-a-medida-o-estandar-comparacion-precios-am/1-47-439/mueble-a-medida-6m-m.jpg?tx=w_680"
                                                data-te-img="https://images.hola.com/imagenes/decoracion/20220210204036/muebles-a-medida-o-estandar-comparacion-precios-am/1-47-439/mueble-a-medida-6m-m.jpg?tx=w_680"
                                                data-te-caption="Image caption 1" alt="Table Full of Spices"
                                                class="w-full cursor-zoom-in data-[te-lightbox-disabled]:cursor-auto" />
                                        </div>
                                    </div>

                                    <div class="mt-3">
                                        <h3
                                            class="font-medium text-gray-900 group-hover:underline group-hover:underline-offset-4">
                                            Simple Watch
                                        </h3>

                                        <p class="mt-1 text-sm text-gray-700">$150</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div>
        <section>
            <div class="max-w-screen-xl px-4 py-8 mx-auto sm:py-12 sm:px-6 lg:px-8">
                <div class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:items-stretch">
                    <div class="grid p-6 bg-gray-100 rounded place-content-center sm:p-8">
                        <div class="max-w-md mx-auto text-center lg:text-left">
                            <header>
                                <h2 class="text-xl font-bold text-gray-900 sm:text-3xl">Watches</h2>

                                <p class="mt-4 text-gray-500">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas
                                    rerum quam amet provident nulla error!
                                </p>
                            </header>

                            <a href="#"
                                class="inline-block px-12 py-3 mt-8 text-sm font-medium text-white transition bg-gray-900 border border-gray-900 rounded hover:shadow focus:outline-none focus:ring">
                                Shop All
                            </a>
                        </div>
                    </div>

                    <div class="lg:col-span-2 lg:py-8">
                        <ul class="grid grid-cols-2 gap-4">
                            <li>
                                <a href="#" class="block group">
                                    <div data-te-lightbox-init
                                        class="flex flex-col space-y-5 lg:flex-row lg:space-x-5 lg:space-y-0">
                                        <div class="h-full w-full">
                                            <img src="https://images.hola.com/imagenes/decoracion/20220210204036/muebles-a-medida-o-estandar-comparacion-precios-am/1-47-439/mueble-a-medida-6m-m.jpg?tx=w_680"
                                                data-te-img="https://images.hola.com/imagenes/decoracion/20220210204036/muebles-a-medida-o-estandar-comparacion-precios-am/1-47-439/mueble-a-medida-6m-m.jpg?tx=w_680"
                                                data-te-caption="Image caption 1" alt="Table Full of Spices"
                                                class="w-full cursor-zoom-in data-[te-lightbox-disabled]:cursor-auto" />
                                        </div>
                                    </div>

                                    <div class="mt-3">
                                        <h3
                                            class="font-medium text-gray-900 group-hover:underline group-hover:underline-offset-4">
                                            Simple Watch
                                        </h3>

                                        <p class="mt-1 text-sm text-gray-700">$150</p>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="#" class="block group">
                                    <div data-te-lightbox-init
                                        class="flex flex-col space-y-5 lg:flex-row lg:space-x-5 lg:space-y-0">
                                        <div class="h-full w-full">
                                            <img src="https://images.hola.com/imagenes/decoracion/20220210204036/muebles-a-medida-o-estandar-comparacion-precios-am/1-47-439/mueble-a-medida-6m-m.jpg?tx=w_680"
                                                data-te-img="https://images.hola.com/imagenes/decoracion/20220210204036/muebles-a-medida-o-estandar-comparacion-precios-am/1-47-439/mueble-a-medida-6m-m.jpg?tx=w_680"
                                                data-te-caption="Image caption 1" alt="Table Full of Spices"
                                                class="w-full cursor-zoom-in data-[te-lightbox-disabled]:cursor-auto" />
                                        </div>
                                    </div>

                                    <div class="mt-3">
                                        <h3
                                            class="font-medium text-gray-900 group-hover:underline group-hover:underline-offset-4">
                                            Simple Watch
                                        </h3>

                                        <p class="mt-1 text-sm text-gray-700">$150</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div>
        <section>
            <div class="max-w-screen-xl px-4 py-8 mx-auto sm:py-12 sm:px-6 lg:px-8">
                <div class="grid grid-cols-1 gap-4 lg:grid-cols-3 lg:items-stretch">
                    <div class="grid p-6 bg-gray-100 rounded place-content-center sm:p-8">
                        <div class="max-w-md mx-auto text-center lg:text-left">
                            <header>
                                <h2 class="text-xl font-bold text-gray-900 sm:text-3xl">Watches</h2>

                                <p class="mt-4 text-gray-500">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas
                                    rerum quam amet provident nulla error!
                                </p>
                            </header>

                            <a href="#"
                                class="inline-block px-12 py-3 mt-8 text-sm font-medium text-white transition bg-gray-900 border border-gray-900 rounded hover:shadow focus:outline-none focus:ring">
                                Shop All
                            </a>
                        </div>
                    </div>

                    <div class="lg:col-span-2 lg:py-8">
                        <ul class="grid grid-cols-2 gap-4">
                            <li>
                                <a href="#" class="block group">
                                    <div data-te-lightbox-init
                                        class="flex flex-col space-y-5 lg:flex-row lg:space-x-5 lg:space-y-0">
                                        <div class="h-full w-full">
                                            <img src="https://images.hola.com/imagenes/decoracion/20220210204036/muebles-a-medida-o-estandar-comparacion-precios-am/1-47-439/mueble-a-medida-6m-m.jpg?tx=w_680"
                                                data-te-img="https://images.hola.com/imagenes/decoracion/20220210204036/muebles-a-medida-o-estandar-comparacion-precios-am/1-47-439/mueble-a-medida-6m-m.jpg?tx=w_680"
                                                data-te-caption="Image caption 1" alt="Table Full of Spices"
                                                class="w-full cursor-zoom-in data-[te-lightbox-disabled]:cursor-auto" />
                                        </div>
                                    </div>

                                    <div class="mt-3">
                                        <h3
                                            class="font-medium text-gray-900 group-hover:underline group-hover:underline-offset-4">
                                            Simple Watch
                                        </h3>

                                        <p class="mt-1 text-sm text-gray-700">$150</p>
                                    </div>
                                </a>
                            </li>

                            <li>
                                <a href="#" class="block group">
                                    <div data-te-lightbox-init
                                        class="flex flex-col space-y-5 lg:flex-row lg:space-x-5 lg:space-y-0">
                                        <div class="h-full w-full">
                                            <img src="https://images.hola.com/imagenes/decoracion/20220210204036/muebles-a-medida-o-estandar-comparacion-precios-am/1-47-439/mueble-a-medida-6m-m.jpg?tx=w_680"
                                                data-te-img="https://images.hola.com/imagenes/decoracion/20220210204036/muebles-a-medida-o-estandar-comparacion-precios-am/1-47-439/mueble-a-medida-6m-m.jpg?tx=w_680"
                                                data-te-caption="Image caption 1" alt="Table Full of Spices"
                                                class="w-full cursor-zoom-in data-[te-lightbox-disabled]:cursor-auto" />
                                        </div>
                                    </div>
                                    <div class="mt-3">
                                        <h3
                                            class="font-medium text-gray-900 group-hover:underline group-hover:underline-offset-4">
                                            Simple Watch
                                        </h3>

                                        <p class="mt-1 text-sm text-gray-700">$150</p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div>
        <p class="text-left text-3xl font-bold mx-6 my-3">Juego De Muebles</p>
    </div>
    <div>
        <section>
            <div class="max-w-screen-xl px-4 py-8 mx-auto sm:px-6 sm:py-12 lg:px-8">
                <header class="text-center">
                    <h2 class="text-xl font-bold text-gray-900 sm:text-3xl">
                        New Collection
                    </h2>

                    <p class="max-w-md mx-auto mt-4 text-gray-500">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque
                        praesentium cumque iure dicta incidunt est ipsam, officia dolor fugit
                        natus?
                    </p>
                </header>

                <ul class="grid grid-cols-1 gap-4 mt-8 lg:grid-cols-3">
                    <li>
                        <a href="#" class="relative block group">
                            <img src="https://images.unsplash.com/photo-1618898909019-010e4e234c55?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"
                                alt=""
                                class="object-cover w-full transition duration-500 aspect-square group-hover:opacity-90" />

                            <div class="absolute inset-0 flex flex-col items-start justify-end p-6">
                                <h3 class="text-xl font-medium text-white">Casual Trainers</h3>

                                <span
                                    class="mt-1.5 inline-block bg-black px-5 py-3 text-xs font-medium uppercase tracking-wide text-white">
                                    Shop Now
                                </span>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="relative block group">
                            <img src="https://images.unsplash.com/photo-1624623278313-a930126a11c3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80"
                                alt=""
                                class="object-cover w-full transition duration-500 aspect-square group-hover:opacity-90" />

                            <div class="absolute inset-0 flex flex-col items-start justify-end p-6">
                                <h3 class="text-xl font-medium text-white">Winter Jumpers</h3>

                                <span
                                    class="mt-1.5 inline-block bg-black px-5 py-3 text-xs font-medium uppercase tracking-wide text-white">
                                    Shop Now
                                </span>
                            </div>
                        </a>
                    </li>

                    <li class="lg:col-span-2 lg:col-start-2 lg:row-span-2 lg:row-start-1">
                        <a href="#" class="relative block group">
                            <img src="https://images.unsplash.com/photo-1593795899768-947c4929449d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2672&q=80"
                                alt=""
                                class="object-cover w-full transition duration-500 aspect-square group-hover:opacity-90" />

                            <div class="absolute inset-0 flex flex-col items-start justify-end p-6">
                                <h3 class="text-xl font-medium text-white">Skinny Jeans Blue</h3>

                                <span
                                    class="mt-1.5 inline-block bg-black px-5 py-3 text-xs font-medium uppercase tracking-wide text-white">
                                    Shop Now
                                </span>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    </div>
    <div>
        <section>
            <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
                <header>
                    <h2 class="text-xl font-bold text-gray-900 sm:text-3xl">
                        Product Collection
                    </h2>

                    <p class="mt-4 max-w-md text-gray-500">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque
                        praesentium cumque iure dicta incidunt est ipsam, officia dolor fugit
                        natus?
                    </p>
                </header>

                <div class="mt-8">
                    <p class="text-sm text-gray-500">Showing <span> 4 </span> of 40</p>
                </div>

                <ul class="mt-4 grid gap-4 sm:grid-cols-2 lg:grid-cols-4">
                    <li>
                        <a href="#" class="group block overflow-hidden">
                            <div data-te-lightbox-init
                                class="flex flex-col space-y-5 lg:flex-row lg:space-x-5 lg:space-y-0">
                                <div class="h-full w-full">
                                    <img src="https://images.hola.com/imagenes/decoracion/20220210204036/muebles-a-medida-o-estandar-comparacion-precios-am/1-47-439/mueble-a-medida-6m-m.jpg?tx=w_680"
                                        data-te-img="https://images.hola.com/imagenes/decoracion/20220210204036/muebles-a-medida-o-estandar-comparacion-precios-am/1-47-439/mueble-a-medida-6m-m.jpg?tx=w_680"
                                        data-te-caption="Image caption 1" alt="Table Full of Spices"
                                        class="w-full cursor-zoom-in data-[te-lightbox-disabled]:cursor-auto" />
                                </div>
                            </div>

                            <div class="relative bg-white pt-3">
                                <h3 class="text-xs text-gray-700 group-hover:underline group-hover:underline-offset-4">
                                    Basic Tee
                                </h3>

                                <p class="mt-2">
                                    <span class="sr-only"> Regular Price </span>

                                    <span class="tracking-wider text-gray-900"> £24.00 GBP </span>
                                </p>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="group block overflow-hidden">
                            <div data-te-lightbox-init
                                class="flex flex-col space-y-5 lg:flex-row lg:space-x-5 lg:space-y-0">
                                <div class="h-full w-full">
                                    <img src="https://images.hola.com/imagenes/decoracion/20220210204036/muebles-a-medida-o-estandar-comparacion-precios-am/1-47-439/mueble-a-medida-6m-m.jpg?tx=w_680"
                                        data-te-img="https://images.hola.com/imagenes/decoracion/20220210204036/muebles-a-medida-o-estandar-comparacion-precios-am/1-47-439/mueble-a-medida-6m-m.jpg?tx=w_680"
                                        data-te-caption="Image caption 1" alt="Table Full of Spices"
                                        class="w-full cursor-zoom-in data-[te-lightbox-disabled]:cursor-auto" />
                                </div>
                            </div>

                            <div class="relative bg-white pt-3">
                                <h3 class="text-xs text-gray-700 group-hover:underline group-hover:underline-offset-4">
                                    Basic Tee
                                </h3>

                                <p class="mt-2">
                                    <span class="sr-only"> Regular Price </span>

                                    <span class="tracking-wider text-gray-900"> £24.00 GBP </span>
                                </p>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="group block overflow-hidden">
                            <div data-te-lightbox-init
                                class="flex flex-col space-y-5 lg:flex-row lg:space-x-5 lg:space-y-0">
                                <div class="h-full w-full">
                                    <img src="https://images.hola.com/imagenes/decoracion/20220210204036/muebles-a-medida-o-estandar-comparacion-precios-am/1-47-439/mueble-a-medida-6m-m.jpg?tx=w_680"
                                        data-te-img="https://images.hola.com/imagenes/decoracion/20220210204036/muebles-a-medida-o-estandar-comparacion-precios-am/1-47-439/mueble-a-medida-6m-m.jpg?tx=w_680"
                                        data-te-caption="Image caption 1" alt="Table Full of Spices"
                                        class="w-full cursor-zoom-in data-[te-lightbox-disabled]:cursor-auto" />
                                </div>
                            </div>

                            <div class="relative bg-white pt-3">
                                <h3 class="text-xs text-gray-700 group-hover:underline group-hover:underline-offset-4">
                                    Basic Tee
                                </h3>

                                <p class="mt-2">
                                    <span class="sr-only"> Regular Price </span>

                                    <span class="tracking-wider text-gray-900"> £24.00 GBP </span>
                                </p>
                            </div>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="group block overflow-hidden">
                            <div data-te-lightbox-init
                                class="flex flex-col space-y-5 lg:flex-row lg:space-x-5 lg:space-y-0">
                                <div class="h-full w-full">
                                    <img src="https://images.hola.com/imagenes/decoracion/20220210204036/muebles-a-medida-o-estandar-comparacion-precios-am/1-47-439/mueble-a-medida-6m-m.jpg?tx=w_680"
                                        data-te-img="https://images.hola.com/imagenes/decoracion/20220210204036/muebles-a-medida-o-estandar-comparacion-precios-am/1-47-439/mueble-a-medida-6m-m.jpg?tx=w_680"
                                        data-te-caption="Image caption 1" alt="Table Full of Spices"
                                        class="w-full cursor-zoom-in data-[te-lightbox-disabled]:cursor-auto" />
                                </div>
                            </div>

                            <div class="relative bg-white pt-3">
                                <h3 class="text-xs text-gray-700 group-hover:underline group-hover:underline-offset-4">
                                    Basic Tee
                                </h3>

                                <p class="mt-2">
                                    <span class="sr-only"> Regular Price </span>

                                    <span class="tracking-wider text-gray-900"> £24.00 GBP </span>
                                </p>
                            </div>
                        </a>
                    </li>

                    <ol class="mt-8 flex justify-center gap-1 text-xs font-medium">
                        <li>
                            <a href="#"
                                class="inline-flex h-8 w-8 items-center justify-center rounded border border-gray-100">
                                <span class="sr-only">Prev Page</span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" viewBox="0 0 20 20"
                                    fill="currentColor">
                                    <path fill-rule="evenodd"
                                        d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                                        clip-rule="evenodd" />
                                </svg>
                            </a>
                        </li>

                        <li>
                            <a href="#" class="block h-8 w-8 rounded border border-gray-100 text-center leading-8">
                                1
                            </a>
                        </li>

                        <li class="block h-8 w-8 rounded border-black bg-black text-center leading-8 text-white">
                            2
                        </li>

                        <li>
                            <a href="#" class="block h-8 w-8 rounded border border-gray-100 text-center leading-8">
                                3
                            </a>
                        </li>

                        <li>
                            <a href="#" class="block h-8 w-8 rounded border border-gray-100 text-center leading-8">
                                4
                            </a>
                        </li>

                        <li>
                            <a href="#"
                                class="inline-flex h-8 w-8 items-center justify-center rounded border border-gray-100">
                                <span class="sr-only">Next Page</span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" viewBox="0 0 20 20"
                                    fill="currentColor">
                                    <path fill-rule="evenodd"
                                        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                        clip-rule="evenodd" />
                                </svg>
                            </a>
                        </li>
                    </ol>
            </div>
        </section>
    </div>
    <button
        class="absolute top-0 right-0 mt-10 flex-row inline-block rounded bg-orange-200 px-6 py-2.5 text-xs font-medium uppercase leading-tight text-orange-200 shadow-md transition duration-150 ease-in-out hover:bg-orange-50 hover:shadow-lg focus:bg-orange-50 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-orange-50 active:shadow-lg"
        data-te-sidenav-toggle-ref data-te-target="#sidenav-3" aria-controls="#sidenav-3" aria-haspopup="true">
        <span class="block [&>svg]:h-5 [&>svg]:w-5 [&>svg]:text-orange-200">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="h-5 w-5">
                <path fill-rule="evenodd"
                    d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z"
                    clip-rule="evenodd" />
            </svg>
        </span>
    </button>

    </div>
</body>




<!-- Fin Footer -->

<script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/tw-elements.umd.min.js"></script>
</body>

</html>